{% extends 'base.html' %}

{% block  title %}
Справочник
{% endblock %}

{% block spravochik %}
    <li class="in">Справочник</li>
{% endblock %}

{% block  body %}
    <div id="s">
        <p><h1><b>СПРАВОЧНИК BLENDER</b></h1></p>
        <ul>
            <li><a href="#1">Режимы работы</a></li>
            <li><a href="#2">Модификаторы</a></li>
        </ul>
        <div><a name="1"></a>
            <br>
            <br>
            <h4><b>РЕЖИМЫ РАБОТЫ</b></h4>
            <h5>Для любого действия в 3D моделирование существует определенные режимы работы, которые включают в себя
                интерфейс и дополнительные функции. Режимы упрощают работу и позволяют разделить процесс создания модели
                поэтапно.<br><br>
                <u>Режимы blender:</u></h5>
            <ol class="sol1">
                <li><p><b><a href ="#Obj">Object Mode</a></b></p></li><br>
                <li><p><b><a href ="#Edi">Edit Mode</a></b></p></li><br>
                <li><p><b><a href ="#Scu">Sculpt Mode</a></b></p></li><br>
                <li><p><b><a href="#Ver">Vertex Paint mode</a></b></p></li><br>
                <li><p><b><a href="#Wei">Weight Paint mode</a></b></p></li><br>
                <li><p><b><a href="#Tex">Texture Paint mode</a></b></p></li>
            </ol><br><br><a name="Obj"></a><br><br><br><br>



            <p><h3><b>Object Mode (Режим Объекта):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> Основной режим для управления целыми объектами.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                <ul type='disk'>
                    <li><h6>Выделение, перемещение, вращение, масштабирование, дублирование и удаление объектов.</h6></li>
                    <li><h6>Применение модификаторов к объектам.</h6></li>
                    <li><h6>Переключение между объектами.</h6></li>
                </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно работать с объектами как с единым целым, менять их положение в сцене, а не редактировать их геометрию.</h6>
            <h7>*Переключение в режим редактирования (Edit Mode) выполняется клавишей Tab клавиатуры. Повторное нажатие Tab вернёт в предыдущий режим. Также переходить в другой режим изменения объекта можно с помощью выпадающего списка в заголовке редактора.<a name="Edi"></a></h7>
            </div><br><br>


            <p><h3><b>Edit Mode (Режим Редактирования):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> режим для изменения геометрии (формы) объектов, например, мешей.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                <ul type='disk'>
                    <li><h6>Выделение и перемещение, вращение, масштабирование отдельных вершин, рёбер и граней (полигонов).</h6></li>
                    <li><h6>Экструдирование, вырезание, добавление и удаление геометрии.</h6></li>
                    <li><h6>Различные инструменты для моделирования.</h6></li>
                </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно изменить форму объекта, добавить или удалить полигоны, создать сложные модели из простых примитивов.</h6>
                    <h7>*Для перехода в режим редактирования нужно нажать клавишу Tab или выбрать режим Edit Mode в заголовке окна 3D-вида. <a name="Scu"></a></h7>
            </div><br><br>


            <p><h3><b>Sculpt Mode (Режим Скульптинга):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> режим для моделирования “лепкой”, как если бы вы работали с глиной.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                <ul type='disk'>
                    <li><h6>Различные кисти для добавления, сглаживания, выдавливания и других деформаций на поверхности модели.</h6></li>
                    <li><h6>Работа с динамической сеткой (Dyntopo) для добавления детализации.</h6></li>
                    <li><h6>Создание органических форм.</h6></li>
                </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно создать сложные органические модели, персонажей, скульптуры, а также добавить детализацию к уже существующим моделям.<a name="Ver"></a></h6>
            </div><br><br>


            <p><h3><b>Vertex Paint Mode (Режим Покраски Вершин):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> : режим для покраски вершин объекта, позволяющий раскрасить объект без использования текстур (удобно для низкополигональных моделей).</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                    <ul type='disk'>
                        <li><h6>Разные кисти для окраски вершин, их смешивания, размытия.</h6></li>
                        <li><h6>Раскраска в зависимости от освещения и других параметров.</h6></li>
                    </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно раскрасить объект, особенно простые низкополигональные модели, или добавить детализацию цвета без использования сложных текстур.<a name="Wei"></h6>
            </div></a><br><br>

            <p><h3><b>Weight Paint Mode (Режим Рисования Весов):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> режим для определения влияния костей скелета на деформацию меша при анимации.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                    <ul type='disk'>
                        <li><h6>Кисти для раскрашивания вершин, где красный цвет означает максимальное влияние, а синий — минимальное.</h6></li>
                        <li><h6>Настройка плавности влияния костей.</h6></li>
                    </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно анимировать модель, деформируя ее поверхность (например, сгибая руку).<a name="Tex"></a></h6>
            </div><br><br>

            <p><h3><b>Texture Paint Mode (Режим Текстурного Рисования):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> Режим для непосредственного рисования текстур на поверхности объекта.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                    <ul type='disk'>
                        <li><h6>Различные кисти для рисования, штампы, заливки.</h6></li>
                        <li><h6>Возможность использовать текстуры для кистей.</h6></li>
                        <li><h6>Рисование на UV-развертке модели.</h6></li>
                    </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно создать уникальные текстуры для объекта, нарисовав их прямо на модели.</h6>
            </div><br><br>

            <div class="info">
                <h6><b сlass="b1">Ключевые моменты:</b></h6><br>
                    <ul type="disk">
                        <li><h6><b class="b1">Зависимость:</b> не все режимы доступны для всех типов объектов. Например, Edit Mode работает только с мешами.</h6></li>
                        <li><h6><b class="b1">Контекст:</b> Режим работы определяет, какие инструменты доступны и как они себя ведут.</h6></li>
                        <li><h6><b class="b1">Освоение:</b> чтобы по-настоящему освоить Blender, нужно понимать, какой режим использовать в какой ситуации.</h6></li>
                    </ul>
            </div><br><br><br><hr><br><br>
        </div>
        <div><a name="2"></a>
            <h4><b>МОДИФИКАТОРЫ</b></h4>
            <h5>Важной частью 3D моделирвания является работа с модификаторами. Они придают необходимые свойства для объекта,
                к примеру: закругляют модель, добавляют тени и т.д.<br>
                Всего в blendere 54 модификатора, которые делятся на 5 категорий, по принципу их работы<br><br>
                <u>Категории модификаторы:</u></h5>
            <ol class="sol1">
                <li><p><b><a href="#">Edit</a></b></p></li><br>
                <li><p><b><a href="#">Generate</a></b></p></li><br>
                <li><p><b><a href="#">Deform</a></b></p></li><br>
                <li><p><b><a href="#">Normals</a></b></p></li><br>
                <li><p><b><a href="#">Physics</a></b></p></li>
            </ol>
        </div>

    </div>
{% endblock %}